.main {
    padding: 0px;
}

@media (min-width: 1279.95px) {
  .main {
    padding: 0px 128px;  
  }
}

.filterRow {
	display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer; 
}

.filterIcon {
  height: 0.9rem;
  padding-left: 0.5rem;
}

.drawerWidth {
  width: 250px;
}

.card {
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
}

.headerRow {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modifyDataRow {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.header {
  display: flex;
  padding: 1rem;
}

.imgWrapper {
  display: flex;
  width: 72px;
  height: 40px;
  align-items: center;
  margin-right: 1rem;
}

.channellogo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.borderTop {
  border: 1px solid #f7f7f7;
  margin: 0;
}

.channelWrapper {
  display: flex;
  flex-direction: column;
}

.channelTitle {
  margin-top: 4px;
  font-size: 0.9rem;
  font-weight: bold;
}

.channelDetails {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: #888;
  min-height: 104px;
}

.schedule {
  display: flex;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.scheduleTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;  
  min-width: 145px;
}

.scheduleActive {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;  
  min-width: 145px;
  color: #333;
}

.time {
  font-feature-settings: 'tnum';
  min-width: 90px;
}

.timeActive {
  font-feature-settings: 'tnum';
  min-width: 90px;
  color: #333;
}

.footer {
  width: 100%;
  height: 100px;
  margin-top: 30px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}